html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
  color: #323232;
  background-color: #bebebe;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  display: grid;
  grid-template-columns: auto 10rem auto;
  grid-template-rows: auto 1.5rem;
  grid-template-areas:
  "left center right"
  ". center .";
  margin-bottom: 1.5rem;
}

h1 {
  margin: 0;
  grid-area: center;
  z-index: 1;
}

img {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
}

nav {
  background-color: #bd027d;
  grid-column: 1/-1;
  grid-row: 1;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 1.5rem 1rem;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #eccee2;
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: uppercase;
  font-size: 1.25rem;
  background-color: #bd027d;
  border-radius: 6px;
  border: 2px solid #960062;
  padding: .5em .8em;
}

main {
  padding: 1rem;
}

main p strong {
  font-weight: bold;
}

main p {
  font-size: 1.25rem;
  margin: 0 0 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid #afafaf;
}

h2 {
  font: 1.25rem;
  font-family: "PT Sans Narrow", sans-serif;
  margin-top: 0;
}

section ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin: 1.5rem 0;
  padding: 0;
  list-style: none;
}

section li {
  background-color: #ccc;
  border: 2px solid #afafaf;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "top"
  "middle"
  "bottom";
}

section li h3 {
  grid-area: "bottom";
  text-align: center;
  z-index: 1;
  background-color: rgba(0,0,0,.1);
  font: 1.25rem;
  font-family: "PT Sans Narrow", sans-serif;
  margin: -4rem 0 .5em;
  padding: 1rem 0;
}

section li img {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

section li div {
  grid-area: top;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-self: end;
  background-color: rgba(0,0,0,.1);
  margin-top: .5em;
  padding: 0;
  border-radius: 1em 0 0 1em;
}

section li div strong {
  font-size: 1rem;
  font-weight: normal;
  font-style: italic;
  margin-right: .5em;
}

li div img {
  width: 1rem;
  margin: .5em;
}

footer {
  display: flex;
  align-items: stretch;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-top: 2px solid #afafaf;
}

footer p, footer a {
  font-size: 0.875rem;
  margin: 0;
}

footer a {
  color: #000;
}
